{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_alpha.html" %}
    <div class="govuk-box-highlight">
        <div class="bold-large">S1 form created for Harry Howard</div>
    </div>

    2 copies of this S1 and a cover letter will be printed for you.
    <div class="column-three-thirds">
        <h1 class="heading-large">
            Your cases<span class="heading-secondary"></span>
        </h1>
        <p>Today, you have worked on:</p>
        <ul class="list list-bullet">
            <li>7 requests for an S1</li>
            <li>3 registrations</li>
            <li>5 cancellations</li>
        </ul>
        <br>
    </div>

    <form action="../registration/customerSearchFound.html">
        <div class="form-group">
            <input class="button" type="submit" value="Get another case">
        </div>
    </form>

    <p><a href="#">Add a manual request</a></p>
    <p><a href="#">Add a manual registration</a></p>

</main>
{% endblock %}


