{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_alpha.html" %}
    <div class="column-three-thirds">
        <h1 class="heading-large">
            Request for an S1 form<span class="heading-secondary"></span>
        </h1>
        <p>The deadline for this request is 4 May 2017</p>
        {% include "includes/S1InfoDetails.html" %}
    </div>
    <br>
    <p>If you approve this request, when do you want the S1 to start?</p>
    <form action="S1RequestCreated.html">
        <fieldset>
            <legend>
                <span class="form-label-bold"></span>
                <span class="form-hint" id="example-dob-hint-3">For example, 31 3 1980</span>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label" for="example-dob-day-3">Day</label>
                    <input class="form-control" id="example-dob-day-3" name="dob-day" type="number" pattern="[0-9]*"
                           min="0" max="31" aria-describedby="example-dob-hint-3">
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label" for="example-dob-month-3">Month</label>
                    <input class="form-control" id="example-dob-month-3" name="dob-month" type="number" pattern="[0-9]*"
                           min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label" for="example-dob-year-3">Year</label>
                    <input class="form-control" id="example-dob-year-3" name="dob-year" type="number" pattern="[0-9]*"
                           min="0" max="2016">
                </div>
            </div>
        </fieldset>
        <br>
        <input class="button" type="submit" value="Approve and create S1 form">
    </form>
    <br>
    <p><a href="#">Delay this request until you have more information</a></p>
    <p><a href="#">Reject this request</a></p>
</main>
{% endblock %}


