{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_alpha.html" %}
    <div class="govuk-box-highlight">
        <div class="heading-large">S1 form created for Harry Howard</div>
    </div>

    2 copies of this S1 and a cover letter will be printed for you today at 5:30pm
    <div class="column-three-thirds">
        <h1 class="heading-large">
            Your cases<span class="heading-secondary"></span>
        </h1>
        <p>Today, you have worked on:</p>
        <ul class="list list-bullet">
            <li>7 requests</li>
            <li>2 Registrations</li>
            <li>5 Cancellations</li>
        </ul>
        <br>
    </div>

    <form action="../registration/customerSearchNoResults.html">
        <div class="form-group">
            <input class="button" type="submit" value="Get another case">
        </div>
    </form>

    <div><a href="#">Add a manual request</a></div>
    <div><a href="#">Add a manual registration</a></div>

</main>
{% endblock %}


