<h2 class="heading-medium">Details</h2>
<div class="s1info">
<table>
    <tr class="tRow">
      <td><div class="dataHeader">Status</div>Open</td>
      <td><div class="dataHeader">Member State</div>Spain</td>
      <td><div class="dataHeader">From date</div>01 January 2016</td>
      <td><div class="dataHeader">To date</div>31 June 2016</td>
    </tr>
    <tr class="tRow">
      <td class="bottomCell"><div >Amount</div>£3,324,235</td>
      <td class="bottomCell"><div >Number of Invoices</div>34,324</td>
      <td class="bottomCell"></td>
      <td class="bottomCell"></td>
    </tr>
  </tbody>
</table>

</div>
