<h2 class="heading-medium">Processed invoices</h2>
<div >
  <table >
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th class="numeric" scope="col">Number of Invoices</th>
        <th class="numeric" scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Accepted</a></td>
        <td class="numeric">234</td>
        <td class="numeric">€ 2,763</td>
      </tr>
      <tr>
        <td><a href="#">Contested</a></td>
        <td class="numeric">234</td>
        <td class="numeric">€ 2,763</td>
      </tr>
      <tr>
        <td><a href="#">Rejected</a></td>
        <td class="numeric">234</td>
        <td class="numeric">€ 2,763</td>
      </tr>
      <tr>
        <td><a href="#">Total</a></td>
        <td class="numeric">234</td>
        <td class="numeric">€ 2,763</td>
      </tr>
    </tbody>
  </table>

</div>
