<div class="s1info">
    <table>
        <tr class="tRow">
            <td>
                <div class="dataHeader">Requested for</div>
                Harry Howard
            </td>
            <td>
                <div class="dataHeader">Date of birth</div>
                23 September 1957
            </td>
            <td>
                <div class="dataHeader">National Insurance number</div>
                QQ 12 34 56 C
            </td>
        </tr>
        <tr class="tRow">
            <td class="bottomCell">
                <div class="dataHeader">Date UK S1 starts</div>
                30 April 2017
            </td>
            <td class="bottomCell">
                <div class="dataHeader">Date registered by Spain</div>
                30 April 2017
            </td>
        </tr>
        </tr>
        </tbody>
    </table>

</div>