<div class="s1info">
    <table>
        <tr class="tRow">
            <td>
                <div class="dataHeader">Requested for</div>
                Harry Howard
            </td>
            <td>
                <div class="dataHeader">Date of birth</div>
                23rd September 1957
            </td>
            <td>
                <div class="dataHeader">National Insurance Number</div>
                QQ 123456C
            </td>
        </tr>
        <tr class="tRow">
            <td class="bottomCell">
                <div class="dataHeader">UK S1 start date</div>
                30 April 2017
            </td>
            <td class="bottomCell">
                <div class="dataHeader">Date registered by Spain</div>
                30 April 2017
            </td>
        </tr>
        </tr>
        </tbody>
    </table>

</div>