			<div class="s1info">
			<table>

				<tr class="tRow">
					<td><div class="dataHeader">Requested by</div>Customer</td>
					<td colspan="2"><div class="dataHeader">Issue Type</div>Main</td>
				</tr>
					<tr class="tRow">
						<td><div class="dataHeader">Requested for</div>Harry Howard</td>
						<td><div class="dataHeader">Date of birth</div>23rd September 1957</td>
						<td><div class="dataHeader">National Insurance Number</div>QQ 123456C</td>
					</tr>
					<tr class="tRow">
						<td><div class="dataHeader">Moving to Spain</div>30 April 2017</td>
						<td><div class="dataHeader">Address in Spain</div>98, Floral Street<br>Madrid<br>Spain<br>378SD</td>
						<td><div class="dataHeader">Current address</div>40 Imaginary Street<br>Invisible Town<br>London<br>United
							Kingdom<br>XX2 34X</td>
					</tr>
				<tr class="tRow">
					<td><div class="dataHeader">Phone</div>0123456789</td>
					<td colspan="2"><div class="dataHeader">Email</div>harry.howard@test.com</td>
				</tr>
					<tr>
						<td><div class="dataHeader">Status</div>0123456789</td>
						<td><div class="dataHeader">Benefit Type</div>0123456789</td>
						<td><div class="dataHeader">Entitlement date</div>0123456789</td>
					</tr>
				<tr>
					<td colspan="3" class="bottomCell"><div>Harry Howard doesn't have a foreign pension</div></td>
				</tr>
				</tbody>
			</table>
		
			</div>