			<div class="s1info">
			<article>
			<table class="table-font-xsmall">
			<tbody>
				<tr class="tRow">
					<td><div class="dataHeader">Requested by</div>Customer</td>
					<td colspan="2"><div class="dataHeader">Issue type</div>Main</td>
				</tr>
					<tr class="tRow">
						<td><div class="dataHeader">Requested for</div>Harry Howard</td>
						<td><div class="dataHeader">Date of birth</div>23 September 1957</td>
						<td><div class="dataHeader">National Insurance number</div>QQ 12 34 56 C</td>
					</tr>
					<tr class="tRow">
						<td><div class="dataHeader">Moving to Spain</div>30 April 2017</td>
						<td><div class="dataHeader">Address in Spain</div>98 Floral Street<br>378SD Madrid<br>Spain<br></td>
						<td><div class="dataHeader">Current address</div>40 Imaginary Street<br>Invisible Town<br>London<br>XX2 34X<br>United
							Kingdom</td>
					</tr>
				<tr class="tRow">
					<td><div class="dataHeader">Telephone number</div>01234 567 894</td>
					<td colspan="2"><div class="dataHeader">Email</div>harry.howard@test.com</td>
				</tr>
					<tr>
						<td><div class="dataHeader">Status</div>Pensioner UK</td>
						<td><div class="dataHeader">Benefit type</div>Retirement</td>
						<td><div class="dataHeader">Date of entitlement</div>13 September 2015</td>
					</tr>
				<tr>
					<td colspan="3" class="bottomCell"><div><br>Harry Howard doesn't have a foreign pension.</div></td>
				</tr>
				</tbody>
			</table>
			</article>
			</div>