// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.s1info {
	background: #eeeeee;
	padding: 10px 0px 20px 20px
}

.dataHeader {
	font-weight: bold;
	padding-top: 10px
}

.bottomCell {
	border-bottom: 0px
}

.keyData {
	margin-right: 30px;

}

td {
	vertical-align: top;
}

.border-bottom-light{
  border-bottom: 1px solid #bfc1c3;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-50{
  margin-top: 50px;
}
/* Style the tab */
.tablinks{
  background: #ccc;
}

div.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

/* Style the buttons inside the tab */
div.tab a {
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin:5px 5px 0px 5px;
    text-decoration: none;
    color:#000;
}

/* Change background color of buttons on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a.active {
    background-color: #fff;
    border-color: #bbb;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding-top: 20px;
}
.tabcontentActive {
    display: block;
    padding-top: 20px;
}

.width20p{
  width:20%;
}
.height40{
  height:66px;
}
