{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="column-three-thirds ">
    <div class="margin-bottom-50 padding-bottom-50 border-bottom-light">
      <h1 class="heading-large">
        Claims
      </h1>
      <h2 class="heading-medium">
        Create a claim (Paper based claims)
      </h2 >
      <p>Create a new claim for a Member State that came by paper</p>
      <form action="/claims/createClaim.html">
        <div class="form-group">
          <input class="button" type="submit" value="Create a claim">
        </div>
      </form>
    </div>
    <div> <?-- stuff for tabs -->
      <h2 class="heading-medium">
        Recent claims
      </h2 >
      <div class="tab">
        <a class="tablinks active" onclick="openTab(event, 'FA')" href="#">FA claims from UK</a>
        <a class="tablinks " onclick="openTab(event, 'UK')" href="#">UK claims from FA</a>
      </div>

      <div id="FA" class="tabcontentActive">
        <table >
          <thead>
            <tr>
              <th scope="col">Claim ID</th>
              <th scope="col">Status</th>
              <th scope="col">Member State</th>
              <th scope="col">From date</th>
              <th scope="col">To date</th>
              <th class="numeric" scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/claims/claim.html">123862</a></td>
              <td>Open</td>
              <td>Spain</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 2,763</td>
            </tr>
            <tr>
              <td><a href="/claims/claim.html">123862</a></td>
              <td>Open</td>
              <td>Sweden</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 2,763</td>
            </tr>
            <tr>
              <td><a href="/claims/claim.html">9834123</a></td>
              <td>Open</td>
              <td>Italy</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 322,763</td>
            </tr>
            <tr>
              <td><a href="/claims/claim.html">9328497</a></td>
              <td>Open</td>
              <td>Germany</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 239,235</td>
            </tr>
            <tr>
              <td><a href="/claims/claim.html">7482348</a></td>
              <td>Open</td>
              <td>Poland</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 4,932,234</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="UK" class="tabcontent">
        <table >
          <thead>
            <tr>
              <th scope="col">Claim ID</th>
              <th scope="col">Status</th>
              <th scope="col">Member State</th>
              <th scope="col">From date</th>
              <th scope="col">To date</th>
              <th class="numeric" scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/claims/claim.html">9834123</a></td>
              <td>Open</td>
              <td>Italy</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 322,763</td>
            </tr>
            <tr>
              <td><a href="/claims/claim.html">9328497</a></td>
              <td>Open</td>
              <td>Germany</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 239,235</td>
            </tr>
            <tr>
              <td><a href="/claims/claim.html">7482348</a></td>
              <td>Open</td>
              <td>Poland</td>
              <td>1 January 2016</td>
              <td>31 June 2016</td>
              <td class="numeric">€ 4,932,234</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <?-- End of stuff for tabs -->

  </div>

</main>
{% endblock %}
