{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_alpha.html" %}
    <div class="column-three-thirds">
        <h1 class="heading-large">
            Register an S1 form<span class="heading-secondary"></span>
        </h1>
        <h3 class="heading-small">Customer Details</h3>
        <div class="s1info">
        <table>
            <tr class="noBorder">
                <td class="bottomCell"><div class="dataHeader">First name</div>Harry</td>
                <td class="bottomCell"><div class="dataHeader">Last name</div>Howard</td>
                <td class="bottomCell"><div class="dataHeader">Gender</div>Male</td>
                <td class="bottomCell"><div class="dataHeader">Date of birth</div>25 September 1958</td>
                <td class="bottomCell"><div class="dataHeader">National Insurance number</div>JC 34 43 45 C</td>
                <td class="bottomCell"><div class="dataHeader">Current address</div>40 Invisible Street<br>Nowhere City<br>XX9 4YY<br>UK</td>
            </tr>
        </table>
</div>
        <div class="heading-small">Customer search</div>
        <div class="s1info">
        <form action="customerSearchWithResults.html">
            <br>
            <div class="form-group">
                <label class="form-label" for="search">You can search by any combination of first name, last name, date of birth and National Insurance number.
                    </label>
                <input class="form-control" id="search" type="text" value="Harry Howard 25/9/1958">
                <input class="button" type="submit" value="Search">&nbsp;&nbsp;<a href="#">Advanced search</a>

            </div>
        </form><br><br><br><br>
        </div>
        {% include "../registration/searchResults.html" %}
        <br>
        <input class="button" type="submit" value="Create a new customer record"/>
    </div>
</main>
{% endblock %}


