{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_alpha.html" %}
    <div class="govuk-box-highlight">
        <div class="bold-large">S1 form registered for Harry Howard</div>
    </div>

    <div class="column-three-thirds">
        <h1 class="heading-large">
            Your cases<span class="heading-secondary"></span>
        </h1>
        <p>Today, you have worked on:</p>
        <ul class="list list-bullet">
            <li>7 requests for an S1</li>
            <li>4 registrations</li>
            <li>5 cancellations</li>
        </ul>

    </div>
    <form action="../request/S1Request.html">
        <div class="form-group">
            <input class="button" type="submit" value="Get another case">
        </div>
    </form>
    <p><a href="#">Add a manual request</a></p>
    <a href="customerSearchNoResults.html">Add a manual registration</a>
</main>
{% endblock %}


