{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_alpha.html" %}
    <div class="column-three-thirds">
        <h1 class="heading-large">
            Register this S1<span class="heading-secondary"></span>
        </h1>
        The deadline for this registration is 14 May 2017.<br><br>
        {% include "includes/S1InfoDetailsReg.html" %}
    </div>
    <br>
    <form action="S1RegistrationConfirmation.html">
        <input class="button" type="submit" value="Register S1">
    </form>
    <br>
    <p>
        <a href="#">Dispute this registration</a>
    </p>
</main>
{% endblock %}


