<br><span class="heading-small" style="padding-right: 40px">4 customer matches</span><a href="#">Clear results</a>
<table>
    <thead>
    <tr>
        <th scope="col">First name</th>
        <th class="text" scope="col">Last name</th>
        <th class="text" scope="col">Gender</th>
        <th class="text" scope="col">Date of birth</th>
        <th class="text" scope="col">National Insurance number</th>
        <th class="text" scope="col">Current address</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Harry</td>
        <td class="text">Hward</td>
        <td class="text">Male</td>
        <td class="text">25 September 1958</td>
        <td class="text">QQ 12 34 56 C</td>
        <td class="text">23 Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
        <td class="text"><a href="S1RegistrationRequest.html">Select</a></td>
    </tr>
    <tr>
        <td>Harry</td>
        <td class="text">Howard</td>
        <td class="text">Male</td>
        <td class="text">25 September 1958</td>
        <td class="text">FD 12 34 56 C</td>
        <td class="text">44 Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
        <td class="text"><a href="S1RegistrationRequest.html">Select</a></td>
    </tr>
    <tr>
        <td>Harry</td>
        <td class="text">Howard</td>
        <td class="text">Female</td>
        <td class="text">25 September 1958</td>
        <td class="text">NN 12 34 56 C</td>
        <td class="text">4 Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
        <td class="text"><a href="S1RegistrationRequest.html">Select</a></td>
    </tr>
    <tr>
        <td>Harry</td>
        <td class="text">Howard</td>
        <td class="text">Male</td>
        <td class="text">12 September 1958</td>
        <td class="text">MK 12 34 56 C</td>
        <td class="text">40 Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
        <td class="text"><a href="S1RegistrationRequest.html">Select</a></td>
    </tr>
    </tbody>
</table>
<br>
<div class="heading-small">2 partial matches</div>
<table>
    <thead>
    <tr>
        <th scope="col">First name</th>
        <th class="text" scope="col">Last name</th>
        <th class="text" scope="col">Gender</th>
        <th class="text" scope="col">Date of birth</th>
        <th class="text" scope="col">National Insurance number</th>
        <th class="text" scope="col">Current address</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Harri</td>
        <td class="text">Howard</td>
        <td class="text">Male</td>
        <td class="text">7 September 1958</td>
        <td class="text">GG 23 42 34 C</td>
        <td class="text">11 Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
        <td class="text"><a href="S1RegistrationRequest.html">Select</a></td>
    </tr>
    <tr>
        <td>Harry</td>
        <td class="text">Howard</td>
        <td class="text">Male</td>
        <td class="text">4 September 1958</td>
        <td class="text">AA 23 43 23 C</td>
        <td class="text">34 Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
        <td class="text"><a href="S1RegistrationRequest.html">Select</a></td>
    </tr>
    </tbody>
</table>
<br>
Showing 1-2 of 2 partial matches<br>