{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="column-three-thirds ">
    <div class="margin-top-20">
      <a href="index.html">back</a>
      <h1 class="heading-large">
        Add claim
      </h1>
    </div>
    <div>
      <h2 class="heading-medium">Claim details</h2>
      <div class="s1info">
        <table>
          <tr class="tRow">
            <td class="width20p bottomCell"><div class="dataHeader">Member State</div>Spain</td>
            <td class="width20p bottomCell"><div class="dataHeader ">From date</div>01 January 2016</td>
            <td class="width20p bottomCell"><div class="dataHeader ">To date</div>31 June 2016</td>
            <td class="width20p bottomCell"></td>
            <td class="width20p bottomCell"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="margin-top-20">
      <h3 class="heading-medium">
        Search for a customer
      </h3>
    </div>
    <form action="invoiceWithResults.html" >
        <div class="form-group">
            <label class="form-label" for="search">You can search by any combination of first name, last name, date of birth and National Insurance number.</label>
            <input class="form-control" id="search" type="text">
            <input class="button" type="submit" value="Search">
            <a href="#" style="padding:20px;">Advanced search</a>
        </div>
    </form>

        {% include "claims/IN-Average/Paper/searchResults.html" %}
  </div>

  <div class="margin-top-50">
    <input class="button" type="submit" value="Create a customer">
  </div>

</main>
{% endblock %}
