{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
	<div class="column-three-thirds">
			<h1 class="heading-large">
			Your cases<span class="heading-secondary"></span>
		</h1>
		<p>Hello John, if you're ready you can get your first case of the day</p>
			
	</div>
	<form action="/S1Request.html">
	
  <div class="form-group">
		<input class="button" type="submit" value="Get a case">	
  </div>
</form>
</main>
{% endblock %}


