{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="column-three-thirds">
		<h1 class="heading-large">
			OHT Prototype<span class="heading-secondary"></span>
		</h1>
		<p>Welcome to the OHT prototype. Follow one of the flows below.</p>
	</div>
	<h3 class="heading-small ">S1 request and registration </h3>
  <p><a href="home.html">S1 requests and regsitration</a></p>
	<h3 class="heading-small">Claims manager</h3>
  <p><a href="claims/IN-Actuals/lineManager/index.html">Line Manager</a></p>
  <h3 class="heading-small">FA claims from UK - Actual </h3>
  <p><a href="claims/IN-Actuals/EDI/index.html">EDI - Claims processing</a></p>
  <p><a href="claims/IN-Actuals/Paper/index.html">Paper - Claims processing</a></p>

	<h3 class="heading-small">FA claims from UK - Average </h3>
	<p><a href="claims/IN-Average/EDI/index.html">EDI - Claims processing</a></p>
  <p><a href="claims/IN-Average/Paper/index.html">Paper - Claims processing</a></p>
	<h3 class="heading-small">UK claims from FA - Average </h3>
</main>
{% endblock %}
