{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
				</p>
	</div>
	<div class="column-three-thirds">
		<h1 class="heading-large">
			S1 Registration<span class="heading-secondary"></span>
		</h1>
		<details>

			<summary><span class="summary">No record was found matching the request details.</span></summary>

			<div class="panel panel-border-narrow">

				<p>
				  No record was found matching the request details.
				</p>
			</div>

		</details>
		<form action="#">
		<br>
		<div class="form-group">
			<label class="form-label" for="search">Search by Name, Date of birth or NINO. You can also combine more than one criteria</label>
			<input class="form-control" id="search" type="text">
			<input class="button" type="submit" value="Search">
		</div>
		</form>

		<span style="padding-right: 40px">5 customers found</span><a href="#">Clear results</a>
		<table>
			<thead>
			<tr>
				<th scope="col">First name</th>
				<th class="text" scope="col">Last name</th>
				<th class="text" scope="col">Gender</th>
				<th class="text" scope="col">Date of birth</th>
				<th class="text" scope="col">NINO</th>
				<th class="text" scope="col">Current Address</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Harry</td>
				<td class="text">Howard</td>
				<td class="text">Male</td>
				<td class="text">25/09/1958</td>
				<td class="text">QQ123456C</td>
				<td class="text">40, Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
				<td class="text"><a href="/S1RegistrationConfirmation.html">Select</a></td>
			</tr>
			<tr>
				<td>Harry</td>
				<td class="text">Howard</td>
				<td class="text">Male</td>
				<td class="text">25/09/1958</td>
				<td class="text">QQ123456C</td>
				<td class="text">40, Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
				<td class="text"><a href="/S1RegistrationConfirmation.html">Select</a></td>
			</tr>
			<tr>
				<td>Harry</td>
				<td class="text">Howard</td>
				<td class="text">Male</td>
				<td class="text">25/09/1958</td>
				<td class="text">QQ123456C</td>
				<td class="text">40, Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
				<td class="text"><a href="/S1RegistrationConfirmation.html">Select</a></td>
			</tr>
			<tr>
				<td>Harry</td>
				<td class="text">Howard</td>
				<td class="text">Male</td>
				<td class="text">25/09/1958</td>
				<td class="text">QQ123456C</td>
				<td class="text">40, Invisible Street<br>Nowhere City<br>United Kingdom<br></td>
				<td class="text"><a href="/S1RegistrationConfirmation.html">Select</a></td>
			</tr>
			</tbody>
		</table>

	</div>
</main>
{% endblock %}


